body {
  font-family: Arial;
  background: #f4f6f8;
  margin: 0;
}

nav {
  background: #111;
  padding: 10px;
}

nav button {
  margin-right: 10px;
  padding: 10px;
  background: #444;
  color: white;
  border: none;
  cursor: pointer;
}

.page {
  padding: 20px;
}

.hidden {
  display: none;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 6px;
}

